.partners__box-title {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  padding-bottom: 32px;
}

@media all and (max-width: 1100px) {
  .partners__box-title {
    font-size: 44px;
    line-height: 60px;
    padding-bottom: 90px;
  }
}