.partners__container-image {
  width: 414px;
  height: 305px;
  border-radius: 23px;
  background-size: cover;
}

@media all and (max-width: 1100px) {
  .partners__container-image {
    width: 621px;
    height: 457px;
    border-radius: 38px;
  }
}