.partners__image-container-left {
  display: flex;
  width: 755px;
  height: 320px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: #f3f3f3;
  box-shadow: inset -2.6px -2.6px 3.9px #fff,
    inset 3.5px 3.5px 3.9px rgba(160, 159, 159, 0.2);
  padding: 4px 7px;
}

@media all and (max-width: 1100px) {
  .partners__image-container-left {
    width: 100%;
    height: auto;
    border-radius: 30px;
    margin-bottom: 170px;
    order: -1;
  }
}