@import url(./__image-container-left/partners__image-container-left.css);

.partners__right-container {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  width: 1550px;
  margin-bottom: 175px;
}

@media all and (max-width: 1100px) {
  .partners__right-container {
    width: 1000px;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-bottom: 300px;
  }
}